<section class="card">
 
  <a href="/dashboard/{{id}}">  </a>
    <!-- The card contains the dashboard name as the card header -->
    <header>The latest posts</header>
    <!-- The card contains the first post of the dashboard -->
    <section class="board">
    {{post.details}}
    </section>
</section>