<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museum</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to the NSA</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/dashboard">Dashboard</a>
  </nav>

  <nav class="login-nav">
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout"><a href="/logout">Logout</a></button>
    </nav>
    {{else }}
    <a href="/login">Login</a>
    {{/if}}
    <a href="/signup">Sign Up</a>
  </nav>

  <main>
    <aside>
      <h2>Here are the latest posts</h2>
    </aside>

    <div class="dashboard">
      {{{body}}}
    </div>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </main>
</body>

</html>