<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museum</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to the NSA</h1>
    {{#if logged_in}}
    <nav>
      <button class="btn" id="logout"><a href="/views/logout.handlebars">logout</a></button>
    </nav>
    {{/if}}
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/">Dashboard</a>
  </nav>

  <nav class="login-nav">
    <a href="/">Login</a>
    <a href="/">Logout</a>
  </nav>

  <main>
    <aside>
      <h2>Here are the latest posts</h2>
    </aside>
    <div class="dashboard">
      {{{body}}}
    </div>
    
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </main>
</body>

</html>