<section class="container">
  <h3 class="dasboard-name">Dashboard</h3>
  <section class="flex-row justify-center">

    <section class="card">

      {{#each post.id as |post|}}
      {{> post-details}}
      {{/each}}

    </section>

    <section class="card">
      {{> createpost-details}}
    </section>


    <h3> If you want to logout</h3>
    <p> Use the logout link if you want a different account</p>
    <a href="/logout">Got to logout</a>
  </section>
</section>