<div class="row align-center mb-5">
  <div class="col-md-6">

    {{#if logged_in}}
    <p>Ready to add your post?</p>
    <button><a href="/dashboard/{{id}}"> Click Here </a></button>

    {{else}}
    <p>It seems you don't have an account. Want to sign up?</p>
    <a href="/signup"> Click Here </a>
    {{/if}}

  </div>

</div>